<app-loading></app-loading>
<app-navbar></app-navbar>

<main>
  <!-- VIDEO -->
  <section id="wrap-video">
    <div id="wrap-titulos">
      <h1>COMO IMPORTAR</h1>
      <h4>Es fácil, seguro y rápido</h4>
    </div>
    <video class="video-js" #videoPrincipal>
      <!-- <source src="../../../assets/video-Importacion.m4v" /> -->
    </video>
  </section>

  <!-- BENEFICIOS -->
  <section id="wrap-beneficios">
    <div class="wrap-beneficio-completo">
      <h3>Obtenga estos <span>Beneficios</span></h3>
      <div class="wrap-beneficio">
        <p class="item">1</p>
        <div class="wrap-detalle-beneficio">
          <p class="titulo">Casillero gratis de Miami a Panamá.</p>
          <p class="desc">
            Costo de la libra $2.50.
          </p>
        </div>
      </div>

      <div class="wrap-beneficio">
        <p class="item">2</p>
        <div class="wrap-detalle-beneficio">
          <p class="titulo">
            Primer mes delivery gratis(Ciudad de Panamá centro).
          </p>
          <p class="desc">
            Sin duda la comodidad es de los aspectos que más valoramos.
          </p>
        </div>
      </div>

      <div class="wrap-beneficio">
        <p class="item">3</p>
        <div class="wrap-detalle-beneficio">
          <p class="titulo">Delivery gratis en el mes de su compleaños.</p>
          <p class="desc">
            Porque usted se lo merece, disfrute de este regalo en su día
            especial.
          </p>
        </div>
      </div>

      <div class="wrap-beneficio">
        <p class="item">4</p>
        <div class="wrap-detalle-beneficio">
          <p class="titulo">Casillero personalizado.</p>
          <p class="desc">Donde usted tendrá control total de sus paquetes.</p>
        </div>
      </div>
    </div>

    <div class="wrap-beneficio-completo">
      <h3>FAQ</h3>
      <div class="wrap-beneficio">
        <p class="item">1</p>
        <div class="wrap-detalle-beneficio">
          <p class="titulo">¿Que necesito para comprar?</p>
          <p class="desc">
            Debes registrarte en nuestra plataforma para luego obtener tus datos
            de importación.
          </p>
        </div>
      </div>

      <div class="wrap-beneficio">
        <p class="item">2</p>
        <div class="wrap-detalle-beneficio">
          <p class="titulo">¿Cómo y dónde comprar?</p>
          <p class="desc">
            Si tu plataforma de compras tiene envíos hasta Miami, ya está!.
          </p>
        </div>
      </div>

      <div class="wrap-beneficio">
        <p class="item">3</p>
        <div class="wrap-detalle-beneficio">
          <p class="titulo">¿Cuánto tiempo tarda mi envío en llegar?</p>
          <p class="desc">
            Regularmente los envíos aéreos tardan entre 2 y 3 semanas. Los
            marítimos entre 4 y 6 semanas.
          </p>
        </div>
      </div>

      <div class="wrap-beneficio">
        <p class="item">4</p>
        <div class="wrap-detalle-beneficio">
          <p class="titulo">¿Cómo comprar si no tengo tarjeta de crédito?</p>
          <p class="desc">
            No te preocupes, puedes usar la nuestra.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- PASOS PARA IMPORTAR -->
  <section id="wrap-pasos">
    <h3>Pasos para <span>Importar</span></h3>
    <div id="wrap-pasos-importar">
      <div class="wrap-paso">
        <div class="wrap-item ele">
          <p class="item-pasos">1</p>
        </div>

        <div class="wrap-tarjetas ele">
          <div class="tarjeta-pasos">
            <div class="border-tarjetas" id="border-top-right"></div>
            <div class="border-tarjetas" id="border-bottom-left"></div>
            <img src="../../../assets/como-importart/1.png" alt="Pasos" />
            <h6>Registrarse en la plataforma</h6>
          </div>
        </div>
      </div>

      <div class="wrap-paso">
        <div class="wrap-item ele">
          <p class="item-pasos">2</p>
        </div>

        <div class="wrap-tarjetas ele">
          <div class="tarjeta-pasos">
            <div class="border-tarjetas" id="border-top-right"></div>
            <div class="border-tarjetas" id="border-bottom-left"></div>
            <img src="../../../assets/como-importart/2-1.png" alt="Pasos" />
            <h6>Llene el formulario de perfil</h6>
          </div>
        </div>
      </div>

      <div class="wrap-paso">
        <div class="wrap-item ele">
          <p class="item-pasos">3</p>
        </div>

        <div class="wrap-tarjetas ele">
          <div class="tarjeta-pasos">
            <div class="border-tarjetas" id="border-top-right"></div>
            <div class="border-tarjetas" id="border-bottom-left"></div>
            <img src="../../../assets/como-importart/3.png" alt="Pasos" />
            <h6>Esperar la aprobación de JJBOXPTY</h6>
          </div>
        </div>
      </div>

      <div class="wrap-paso">
        <div class="wrap-item ele">
          <p class="item-pasos">4</p>
        </div>

        <div class="wrap-tarjetas ele">
          <div class="tarjeta-pasos">
            <div class="border-tarjetas" id="border-top-right"></div>
            <div class="border-tarjetas" id="border-bottom-left"></div>
            <img src="../../../assets/como-importart/4.png" alt="Pasos" />
            <h6>Compre con los datos de su casillero</h6>
          </div>
        </div>
      </div>

      <div class="wrap-paso">
        <div class="wrap-item ele">
          <p class="item-pasos">5</p>
        </div>

        <div class="wrap-tarjetas ele">
          <div class="tarjeta-pasos">
            <div class="border-tarjetas" id="border-top-right"></div>
            <div class="border-tarjetas" id="border-bottom-left"></div>
            <img src="../../../assets/como-importart/5.png" alt="Pasos" />
            <h6>Espere la llegada de su paquete</h6>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- CALCULADORA DE PAQUETES -->
  <section id="wrap-cotizacion">
    <div id="wrap-img-cot" class="cot">
      <img src="../../../assets/como-importart/img-cot.png" alt="Cotización" />
    </div>
    <div id="wrap-calc" class="shadow cot">
      <img src="../../../assets/logo-jjboxpty.png" alt="JJBOXPTY" />
      <h4>Calculadora de paquetes</h4>
      <div id="calculadora">
        <!-- longitud -->
        <div class="mb-3">
          <label class="form-label">Longitud</label>
          <select class="form-select" name="longitud" id="longitud" disabled>
            <option value="cm">Pulgadas</option>
          </select>
        </div>

        <!-- peso -->
        <div class="mb-3">
          <label class="form-label">Peso</label>
          <select class="form-select" name="longitud" id="longitud" disabled>
            <option value="kg">Libras</option>
          </select>
        </div>

        <!-- largo -->
        <div class="mb-3">
          <label class="form-label">Largo:</label>
          <input
            type="number"
            class="form-control"
            id="largo"
            value="0"
            placeholder="Escriba un número"
          />
        </div>

        <!-- ancho -->
        <div class="mb-3">
          <label class="form-label">Ancho:</label>
          <input
            type="number"
            class="form-control"
            id="ancho"
            value="0"
            placeholder="Escriba un número"
          />
        </div>

        <!-- alto -->
        <div class="mb-3">
          <label class="form-label">Alto:</label>
          <input
            type="number"
            class="form-control"
            id="alto"
            value="0"
            placeholder="Escriba un número"
          />
        </div>

        <!-- peso -->
        <div class="mb-3">
          <label class="form-label">Peso:</label>
          <input
            type="number"
            class="form-control"
            id="peso"
            value="0"
            placeholder="Escriba un número"
          />
        </div>
      </div>
      <button type="button" class="btn btn-primary" (click)="calculadora()">
        Calcular
      </button>
      <div id="show-message-calc">
        <p>
          Costo aproximado:
          <span>{{ calculaPaquetes | currency }}</span>
        </p>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
