@import "../../../styles.scss";

@media screen and(max-width: 1200px){
  section#wrap-compras {
    padding-left: 15px;
  }
}

$color-fuente-sidebar: darken(
  $color: white,
  $amount: 8,
);

tr,
td,
th {
  font-weight: 400;
  text-align: left;
  vertical-align: middle;
}

td,
th {
  // border: 1px solid red;
  position: relative;
  padding: 15px;
  // display: flex;
  // overflow: hidden;
}

#wrap-compras {
  // border: 1px solid blue;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px 100px;
  overflow-x: scroll;
  position: relative;
  margin-top: 35px;

  #wrap-header {
    // border: 1px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    color: $color-principal;
    margin-bottom: 25px;
    text-shadow: 3px 3px 3px rgb(209, 209, 209);
    font-family: $font-family-principal;
    position: absolute;
    top: 0;
    i {
      font-size: 1.5rem;
      margin-right: 15px;
    }

    h5 {
      font-weight: 800;
      font-size: 1.5rem;
    }
  }

  table {
    background-color: white;
    box-shadow: $box-shadow;
    border-radius: $border-radius-general;
  }

  #wrap-tabla {
    // border: 1px solid red;
    width: 100%;
    font-family: $font-family-principal;
    margin-top: 25px;

    table thead {
      background-color: $color-principal;
      color: $color-fuente-sidebar;
    }

    #wrap-controles {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      i:nth-child(1) {
        margin-right: 10px;
      }

      i:nth-child(2) {
        margin-right: 10px;
        color: $color-principal;
      }

      i:nth-child(3) {
        color: rgb(180, 0, 0);
      }
    }
  }
}
